---
---

<center><h1>üìç üìç Assignment: Subsetting and Modifying Dataüìç üìç</h1></center>


---


#### `READ THE BIG MART SALES DATA`


---

In [89]:
import pandas as pd

In [91]:
data = pd.read_csv('big_mart_sales.csv',skiprows=4,header=0)

In [93]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [95]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

---

#### `Select the rows where Item_MRP is less than 100`


---

In [98]:
# WRITE YOUR CODE HERE
flt_mrp=data[data['Item_MRP']<100]
print(flt_mrp)

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
1              DRC01        5.920          Regular         0.019278
4              NCD19        8.930          Low Fat         0.000000
5              FDP36       10.395          Regular         0.000000
6              FDO10       13.650          Regular         0.012741
8              FDH17       16.200          Regular         0.016687
...              ...          ...              ...              ...
8513           FDH31       12.000          Regular         0.020407
8514           FDA01       15.000          Regular         0.054489
8516           NCJ19       18.600          Low Fat         0.118661
8520           NCJ29       10.600          Low Fat         0.035186
8522           DRG01       14.800          Low Fat         0.044878

               Item_Type  Item_MRP Outlet_Identifier  \
1            Soft Drinks   48.2692            OUT018
4              Household   53.8614            OUT013
5           Baking Goods   51.4008            OUT018
6            Snack Foods   57.6588            OUT013
8           Frozen Foods   96.9726            OUT045
...                  ...       ...               ...
8513                Meat   99.9042            OUT035
8514              Canned   57.5904            OUT045
8516              Others   58.7588            OUT018
8520  Health and Hygiene   85.1224            OUT035
8522         Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
1                          2009      Medium               Tier 3
4                          1987        High               Tier 3
5                          2009      Medium               Tier 3
6                          1987        High               Tier 3
8                          2002         NaN               Tier 2
...                         ...         ...                  ...
8513                       2004       Small               Tier 2
8514                       2002         NaN               Tier 2
8516                       2009      Medium               Tier 3
8520                       2004       Small               Tier 2
8522                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
1     Supermarket Type2           443.4228
4     Supermarket Type1           994.7052
5     Supermarket Type2           556.6088
6     Supermarket Type1           343.5528
8     Supermarket Type1          1076.5986
...                 ...                ...
8513  Supermarket Type1           595.2252
8514  Supermarket Type1           468.7232
8516  Supermarket Type2           858.8820
8520  Supermarket Type1          1193.1136
8522  Supermarket Type1           765.6700

[2439 rows x 12 columns]

---

#### `Select the rows where Outlet_Location_Type is Tier 1 and Outlet_Establishment_Year is from the list [1987, 1988, 2009]`

---

In [101]:
print(data.head())  # see first few rows
print(data['Outlet_Location_Type'].unique())  # what location types exist?
print(data['Outlet_Establishment_Year'].unique())  # what years exist?

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15         9.30          Low Fat         0.016047
1           DRC01         5.92          Regular         0.019278
2           FDN15        17.50          Low Fat         0.016760
3           FDX07        19.20          Regular         0.000000
4           NCD19         8.93          Low Fat         0.000000

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052
['Tier 1' 'Tier 3' 'Tier 2']
[1999 2009 1998 1987 1985 2002 2007 1997 2004]

In [103]:
# WRITE YOUR CODE HERE

slc_rows=data[(data['Outlet_Location_Type']=='Tier 1') & 
                (data['Outlet_Establishment_Year'].isin([1987,1988,2009]))]
print(slc_rows)

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

---

#### `Update the values of the column Outlet_Type using the mapping given below` 


---

In [106]:
print(data['Outlet_Type'].unique())

['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']

In [108]:
print(data['Outlet_Type'].head(10))

0    Supermarket Type1
1    Supermarket Type2
2    Supermarket Type1
3        Grocery Store
4    Supermarket Type1
5    Supermarket Type2
6    Supermarket Type1
7    Supermarket Type3
8    Supermarket Type1
9    Supermarket Type1
Name: Outlet_Type, dtype: object

In [110]:
mapping={
    'Supermarket Type1' : 1,
    'Supermarket Type2' : 2,
    'Grocery Store'     : 3,
    'Supermarket Type3' : 4
}

In [112]:
# WRITE YOUR CODE HERE

data['Outlet_Type']=data['Outlet_Type'].map(mapping).fillna(data['Outlet_Type'])
print(data['Outlet_Type'])

0       1
1       2
2       1
3       3
4       1
       ..
8518    1
8519    1
8520    1
8521    2
8522    1
Name: Outlet_Type, Length: 8523, dtype: int64

---

#### `Fill the missing values in the column 'Outlet_Size' by Medium using loc`

---

In [114]:
data.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
# WRITE YOUR CODE HERE

In [116]:
data.loc[data['Outlet_Size'].isna(),'Outlet_Size']='medium'

In [118]:
print(data['Outlet_Size'])

0       Medium
1       Medium
2       Medium
3       medium
4         High
         ...
8518      High
8519    medium
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 8523, dtype: object