---
---

<center> <h1>üìç üìç Assignment: Reading Files üìç üìç</h1> </center>

---

#### `1. READ THE BIG MART SALES DATA`

---

In [4]:
import pandas as pd

In [10]:
data = pd.read_csv('dataset/big_mart_sales.csv')

---

***So, we are getting an error. You task is to find out the error and read the file using pandas. Here is the screenshot of the CSV file.***

![](images/csv.png)

---

In [20]:
### WRITE YOUR CODE HERE
df=pd.read_csv('big_mart_sales.csv',skiprows=3)
data.head()

,,,,,,,,,,Hence,it will be required to treat them accordingly.
Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
FDA15,9.3,Low Fat,0.016047301,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138
DRC01,5.92,Regular,0.019278216,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,17.5,Low Fat,0.016760075,Meat,141.618,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.27
FDX07,19.2,Regular,0,Fruits and Vegetables,182.095,OUT010,1998,NaN,Tier 3,Grocery Store,732.38

----

####  `2. READ THE JSON DATA`

----

In [ ]:
# read the json file
json_data = pd.read_json('dataset/simple.json')

---

***Open the JSON file in the text editor and see what can you do to read the file.***

---

In [ ]:
#### WRITE YOUR CODE HERE

In [32]:
js=pd.read_json('simple.json', lines=True)
print(js)

       name  age grade
0     Andew   12     A
1    Bhuvan   18     B
2   Clinton   11     A
3     Drake   12     C
4     Eisha   13     B
5    Farhan   22     C
6    Garima   11     A
7  Himanshu   19     A
8    Ishaan   10     D
9     Jason    9     B