# üíº Advanced Data Analysis Assignment:

## üì¶ 1. Setup

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style='darkgrid')
%matplotlib inline

In [3]:
df=pd.read_csv('big_mart_sales - big_mart_sales.csv')
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

---
## üß† Scenario 1: Complex Filtering with Multiple Conditions

### Problem Statement:
Find items where:
- Sales are above 90th percentile
- Item_MRP is within 10% of its mean
- Item_Visibility is below median

### ‚úçÔ∏è Your Task:

In [ ]:
# TODO: Implement combined filtering using quantiles, np.isclose, and boolean indexing

In [5]:
sales_90=df['Item_Outlet_Sales'].quantile(0.90)   #used quantile for sales 90th percentile

In [7]:
mrp_mean=df['Item_MRP'].mean()

In [9]:
visibility_median=df['Item_Visibility'].median()

In [21]:
#todo

item=df[(df['Item_Outlet_Sales'] > sales_90) &
                (np.isclose(df['Item_MRP'],mrp_mean,rtol=0.1)) &
                (df['Item_Visibility'] < visibility_median)]


print("item displayed",len(item),"\n")
print(item.head())

item displayed 22

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
54             NCP18        12.15          Low Fat         0.028760
844            FDV01          NaN          Regular         0.000000
1173           FDH57          NaN          Low Fat         0.035574
2355           FDR15         9.30          Regular         0.033432
2863           FDS16          NaN          Regular         0.000000

                  Item_Type  Item_MRP Outlet_Identifier  \
54                Household  151.4708            OUT017
844                  Canned  154.6314            OUT027
1173  Fruits and Vegetables  131.4284            OUT027
2355                   Meat  153.1314            OUT035
2863           Frozen Foods  145.2760            OUT027

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
54                         2007         NaN               Tier 2
844                        1985      Medium               Tier 3
1173                       1985      Medium               Tier 3
2355                       2004       Small               Tier 2
2863                       1985      Medium               Tier 3

            Outlet_Type  Item_Outlet_Sales
54    Supermarket Type1          4815.0656
844   Supermarket Type3          6515.5188
1173  Supermarket Type3          5404.9644
2355  Supermarket Type1          4653.9420
2863  Supermarket Type3          5273.1360

---
## üìà Scenario 2: Custom Aggregation Functions

### Problem Statement:
Group data by `Outlet_Type` and calculate:
- Mean, Std Dev of Sales
- 25th and 75th percentiles
- Count of high selling products (>5000)

In [ ]:
###### ‚úçÔ∏è Your Task:

In [ ]:
# TODO: Use .agg() with custom lambdas and np.percentile
# Create a summary DataFrame

In [29]:
data_fr=df.groupby('Outlet_Type')['Item_Outlet_Sales'].agg(
            mean_sales='mean',
            std_sales='std',
            q1=lambda x : np.percentile(x,25),
            q2=lambda x :np.percentile(x,75),
            high_sales= lambda x : (x >5000).sum()).reset_index()

In [31]:
print(data_fr)

         Outlet_Type   mean_sales    std_sales          q1          q2  \
0      Grocery Store   339.828500   260.851582   153.79980   458.73620
1  Supermarket Type1  2316.181148  1515.965558  1151.16820  3135.91800
2  Supermarket Type2  1995.498739  1375.932889   981.55565  2702.64865
3  Supermarket Type3  3694.038558  2127.760054  2044.33890  4975.52340

   high_sales
0           0
1         359
2          39
3         231

---
## üß™ Scenario 3: Row-wise Operations and Conditional Tagging

### Problem Statement:
Tag each row as:
- 'High Performer' if Sales > 90th percentile AND Item_MRP > 75th percentile
- 'Average' otherwise

### ‚úçÔ∏è Your Task:

In [ ]:
# TODO: Use np.select or np.where to classify each row
# Create a new column `Performance_Tag`

In [39]:
sales_quant=df['Item_Outlet_Sales'].quantile(0.90)
mrp_quant=df['Item_MRP'].quantile(0.75)

performer=(df['Item_Outlet_Sales'] >sales_quant) & (df['Item_MRP'] > mrp_quant)

In [41]:
df['performance tag']=np.where(performer,"high performer","average")

In [43]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,performance tag
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,average
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,average
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,average
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,average
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,average

---
## üßµ Scenario 4: Pivot Table & Reshaping

### Problem Statement:
Create a pivot table showing average `Item_Outlet_Sales` by `Item_Type` and `Outlet_Type`.
Then, unstack the result and fill missing values with 0.

### ‚úçÔ∏è Your Task:

In [ ]:
# TODO: Use pd.pivot_table and unstack with fillna

In [51]:
pt=pd.pivot_table(df, values='Item_Outlet_Sales',
                  columns='Outlet_Type',index='Item_Type',aggfunc='mean')

In [55]:
reshap_table=pt.unstack().fillna(0)

In [57]:
print(reshap_table)

Outlet_Type        Item_Type
Grocery Store      Baking Goods      292.082544
                   Breads            381.967442
                   Breakfast         412.831042
                   Canned            352.864879
                   Dairy             341.866589
                                       ...
Supermarket Type3  Others           2700.928667
                   Seafood          2687.073686
                   Snack Foods      3745.168739
                   Soft Drinks      3284.938836
                   Starchy Foods    3512.190114
Length: 64, dtype: float64

---
## ü™ú Scenario 5: Memory Optimization and Dtype Inference

### Problem Statement:
- Find top 5 columns with largest memory usage
- Optimize their datatypes (e.g., float32 instead of float64)
- Calculate memory usage before and after

### ‚úçÔ∏è Your Task:

In [ ]:
# TODO: Use df.memory_usage(), convert dtypes, compare usage

In [61]:
before=df.memory_usage(deep=True).sum() /1024**2
print(f" memory optimization before : {before:.2f} GB ")

 memory optimization before : 3.98 GB

In [63]:
top_cols = df.memory_usage(deep=True).sort_values(ascending=False).head(5).index

for col in top_cols:
    if df[col].dtype == 'float64':
        df[col] = df[col].astype('float32')
    elif df[col].dtype == 'int64':
        df[col] = df[col].astype('int32')
    elif df[col].dtype == 'object':
        df[col] = df[col].astype('category')

# Memory usage after
after = df.memory_usage(deep=True).sum() / 1024**2
print(f"After optimization: {after:.2f} MB")
print(f"Reduced by: {before - after:.2f} MB")

After optimization: 1.65 MB
Reduced by: 2.34 MB

---
## üåÄ Scenario 6: MultiIndex Operations

### Problem Statement:
Set a multi-index with `Outlet_Identifier` and `Item_Type`.
Then, retrieve all rows for OUT049 and all Dairy products.

### ‚úçÔ∏è Your Task:

In [ ]:
# TODO: Use .set_index() and .loc[] to extract multi-indexed slices

In [65]:
ind=df.set_index(['Outlet_Identifier','Item_Type'])
multi=ind.loc['OUT049']

In [67]:
dairy_rows = ind.xs('Dairy', level='Item_Type')

In [69]:
print(multi)

                      Item_Identifier  Item_Weight Item_Fat_Content  \
Item_Type
Dairy                           FDA15        9.300          Low Fat
Meat                            FDN15       17.500          Low Fat
Fruits and Vegetables           FDY07       11.800          Low Fat
Fruits and Vegetables           FDX32       15.100          Regular
Breakfast                       FDP49        9.000          Regular
...                               ...          ...              ...
Snack Foods                     FDK21        7.905          Low Fat
Fruits and Vegetables           FDV31        9.800               LF
Meat                            FDW27        5.860          Regular
Health and Hygiene              NCS17       18.600          Low Fat
Snack Foods                     FDL10        8.395          Low Fat

                       Item_Visibility  Item_MRP  Outlet_Establishment_Year  \
Item_Type
Dairy                         0.016047  249.8092                       1999
Meat                          0.016760  141.6180                       1999
Fruits and Vegetables         0.000000   45.5402                       1999
Fruits and Vegetables         0.100014  145.4786                       1999
Breakfast                     0.069196   54.3614                       1999
...                                ...       ...                        ...
Snack Foods                   0.010028  249.6408                       1999
Fruits and Vegetables         0.000000  175.2370                       1999
Meat                          0.151088  155.1314                       1999
Health and Hygiene            0.080627   92.5436                       1999
Snack Foods                   0.039554   99.1042                       1999

                      Outlet_Size Outlet_Location_Type        Outlet_Type  \
Item_Type
Dairy                      Medium               Tier 1  Supermarket Type1
Meat                       Medium               Tier 1  Supermarket Type1
Fruits and Vegetables      Medium               Tier 1  Supermarket Type1
Fruits and Vegetables      Medium               Tier 1  Supermarket Type1
Breakfast                  Medium               Tier 1  Supermarket Type1
...                           ...                  ...                ...
Snack Foods                Medium               Tier 1  Supermarket Type1
Fruits and Vegetables      Medium               Tier 1  Supermarket Type1
Meat                       Medium               Tier 1  Supermarket Type1
Health and Hygiene         Medium               Tier 1  Supermarket Type1
Snack Foods                Medium               Tier 1  Supermarket Type1

                       Item_Outlet_Sales performance tag
Item_Type
Dairy                          3735.1380         average
Meat                           2097.2700         average
Fruits and Vegetables          1516.0266         average
Fruits and Vegetables          1589.2646         average
Breakfast                       718.3982         average
...                                  ...             ...
Snack Foods                    3254.4304         average
Fruits and Vegetables          3881.6140         average
Meat                           1551.3140         average
Health and Hygiene              378.1744         average
Snack Foods                    2579.3092         average

[930 rows x 11 columns]

In [71]:
print(dairy_rows)

                  Item_Identifier  Item_Weight Item_Fat_Content  \
Outlet_Identifier
OUT049                      FDA15        9.300          Low Fat
OUT046                      FDA03       18.500          Regular
OUT035                      FDU02       13.350          Low Fat
OUT010                      FDE51        5.925          Regular
OUT010                      FDV38       19.250          Low Fat
...                           ...          ...              ...
OUT035                      FDC39        7.405          Low Fat
OUT017                      FDS26       20.350          Low Fat
OUT018                      FDV50       14.300          Low Fat
OUT035                      FDY50        5.800          Low Fat
OUT013                      FDR26       20.700          Low Fat

                   Item_Visibility  Item_MRP  Outlet_Establishment_Year  \
Outlet_Identifier
OUT049                    0.016047  249.8092                       1999
OUT046                    0.045464  144.1102                       1997
OUT035                    0.102492  230.5352                       2004
OUT010                    0.161467   45.5086                       1998
OUT010                    0.170349   55.7956                       1998
...                            ...       ...                        ...
OUT035                    0.159165  207.1296                       2004
OUT017                    0.089975  261.6594                       2007
OUT018                    0.123071  121.1730                       2009
OUT035                    0.130931   89.9172                       2004
OUT013                    0.042801  178.3028                       1987

                  Outlet_Size Outlet_Location_Type        Outlet_Type  \
Outlet_Identifier
OUT049                 Medium               Tier 1  Supermarket Type1
OUT046                  Small               Tier 1  Supermarket Type1
OUT035                  Small               Tier 2  Supermarket Type1
OUT010                    NaN               Tier 3      Grocery Store
OUT010                    NaN               Tier 3      Grocery Store
...                       ...                  ...                ...
OUT035                  Small               Tier 2  Supermarket Type1
OUT017                    NaN               Tier 2  Supermarket Type1
OUT018                 Medium               Tier 3  Supermarket Type2
OUT035                  Small               Tier 2  Supermarket Type1
OUT013                   High               Tier 3  Supermarket Type1

                   Item_Outlet_Sales performance tag
Outlet_Identifier
OUT049                     3735.1380         average
OUT046                     2187.1530         average
OUT035                     2748.4224         average
OUT010                      178.4344         average
OUT010                      163.7868         average
...                              ...             ...
OUT035                     3739.1328         average
OUT017                     7588.1226  high performer
OUT018                     2093.9410         average
OUT035                     1516.6924         average
OUT013                     2479.4392         average

[682 rows x 11 columns]

---
## üîÅ Scenario 7: Exploding Lists and Normalizing Nested Structures

### Problem Statement:
Assume a column contains lists of promo tags like ['summer', 'festival'].
Explode the list into separate rows.

### ‚úçÔ∏è Your Task:

In [ ]:
# TODO: Simulate a column with lists and use .explode() to normalize

In [73]:
data = {
    'Item_ID': ['A101', 'A102', 'A103'],
    'Promo_Tags': [['summer', 'festival'], ['clearance'], ['winter', 'new year']]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Explode the list into separate rows
df_exploded = df.explode('Promo_Tags')

print("\nExploded DataFrame:")
print(df_exploded)

Original DataFrame:
  Item_ID          Promo_Tags
0    A101  [summer, festival]
1    A102         [clearance]
2    A103  [winter, new year]

Exploded DataFrame:
  Item_ID Promo_Tags
0    A101     summer
0    A101   festival
1    A102  clearance
2    A103     winter
2    A103   new year

---
## üß© Final Thoughts:
Make sure to:
- Comment your logic clearly
- Validate shapes and nulls after operations
- Avoid chained indexing

In [75]:
print("‚úÖ Great job! Submit your completed .ipynb file.")

‚úÖ Great job! Submit your completed .ipynb file.